# **Tarea Nº 1**

Curso:          Fundamentos de Programación en Python
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Domingo Jueves 1 de dicieimbre, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: ____ Renzo Vidal, Joel Díaz y Ange_RC ______
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

# 1. Git


a. Commit, Push, Pull

Instrucciones:
1. Cada miembro del equipo debe clonar el repo de su tarea en su computadora
1. Luego, en el branch master (`main`), el integrante Nº 1 cambia el nombre del archivo `.ipynb` a `tarea_1.ipynb`
1. Usando GitHub Desktop, el integrante Nº 2 notará que hay cambios en el repo. Por lo tanto, hará el `pull` de la nueva versión del repo. Ahora ambos tiene el archivo con el nombre apropiado en sus computadoras

*Este ejercicio se calificará directamente en GitHub*

b. Merge conflicts (opcional)

1. El integrante Nº 1 abre un branch nuevo `merge_conflict_practice_1`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 2 abre un branch nuevo `merge_conflict_practice_2`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 1 hará un `pull request`
1. El integrante Nº 2 hará el `review` del `pull request`, aceptará los cambios de su compañero y hará `merge` del branch al `master`. ¡Listo, completaste tu primer pull request!
1. El integrante Nº 2 hará un `pull request`
1. El integrante Nº 1 hará el `review` del `pull request` y habrá un `merge conflict` poeque ambos están cambiando la misma línea de código. Ajuste el archivo y complete el `merge``
Cambie de roles y fuerce un `merge conflict` con una sección diferente del archivo `tarea_1.ipynb` (Fecha de entrega, nombre del curso, etc.)
1. Explique muy brevemente porque se generó el `merge conflict`

*Respuesta: ______________________________*

# 2. Variables

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [ ]:
monthly_savings = 10
num_months = 12

a. Calculate year_savings using monthly_savings and num_months

In [ ]:
Year_savings = monthly_savings * num_months # Calculate the product of monthly_savings and num_months

b. Print the type of year_savings

In [ ]:
print(f"El total ahorrado en {num_months} meses es: {Year_savings}") # What do you think the resulting type will be? Find out by printing out the type of year_savings.

El total ahorrado en 12 meses es: 120

# 3. Lists

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [ ]:
import numpy as np
f_list = ["Brazil", np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'new', 'teacher', 'assistant', 'is', 'so', 'boring.']
p1_list = [ 2 , 3, 4, 5 , 6 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1, 91 ]
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

a. Show the indices of the `np.nan`` values in the `f_list` list. We want to see this output: *The indices 1, 2, 5, 8 have np.nan values*. Hint: Use print function and f-strings to insert the indices values.

In [ ]:
f_list1 = f_list
f_list1 = [1,2,5,8]
print(f"Los valores {f_list1} tienen np.nan values")

Los valores [1, 2, 5, 8] tienen np.nan values

b. Replicate 4 times the values of the list `p1_list`. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [ ]:
p1_list1 = p1_list
n = 4
p1_lst = p1_list1 * n
print(p1_lst)
# Replicates p1_list

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

c. Print the length of `f_list`. **Hint: Length function**

In [ ]:
print(len(p1_lst)) # Lenngth of f_list

20

d. Print `My new teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [ ]:
resultado = " ".join(text1) # Printing
print(resultado)

My new teacher assistant is so boring.

# 4. Strings

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [ ]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [ ]:
str1 = 'I am                            too                                                        old'

# 1° Paso: Dividir la cadena en palabras eliminando los espacios duplicados
palabras = str1.split()

# 2° Paso: Unir las palabras con un único espacio
nuevo_str = " ".join(palabras)

# Resultado
print(nuevo_str)
# Drop duplicated blank spaces

I am too old

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [ ]:
str1 = 'I am                            too                                                        old'
palabras1 = str1.split()
numero_palabras = len(palabras1)
print(f"El número de palabras en str1 es: {numero_palabras}")
# Number of letters

El número de palabras en str1 es: 4

3. (Optional) Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [ ]:
str1 = 'I am                            too                                                        old'
espacios_blanco = len(str1) - len(str1.replace(" ", ""))
print(f"El número de espacios en blanco en str1 es: {espacios_blanco}")
# Number of blanck spaces

El número de espacios en blanco en str1 es: 85

# 5. NumPy

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [ ]:
prueba1 = np.random.randint(0,15,1000)
prueba1

array([ 5, 10,  2,  3,  7, 12, 13, 14,  0,  2, 10, 11,  8, 13,  5,  8,  9,
        1, 12,  3,  0,  3,  5,  5,  0, 12,  4,  9, 14,  0,  7,  5, 12, 13,
        8, 12,  2, 13,  0, 11,  1, 11, 13,  6,  9,  7,  2,  5,  1,  1,  7,
       12,  8,  6,  1,  4, 11, 12,  1,  4, 12, 13,  2, 13, 13,  5,  0, 12,
        5,  5, 11,  7,  8,  2,  7,  8,  1,  7,  9, 11,  0,  1,  0,  0,  5,
        4,  8, 13,  4,  7, 13, 14, 14,  8,  3, 12, 11,  5,  4, 14,  6, 12,
       14,  6,  9,  5,  9, 13, 12,  0, 10, 14, 10, 14,  4,  3, 11,  1,  6,
        9, 10,  4,  7,  7,  0,  6, 14, 12,  9,  7, 14,  7,  6, 10, 11, 10,
       10, 10, 10,  7,  8, 14,  9,  2, 13,  4,  6, 13,  2,  7,  9,  4,  2,
        9,  9,  1, 10, 11, 12, 12, 10,  4, 13, 13,  3, 13, 12, 12,  2, 14,
        7,  4,  0,  0,  4, 13,  3,  1,  0,  2, 13,  4,  0,  2,  2,  1,  0,
        2, 12, 12, 13,  1,  5,  8, 11,  4,  4,  4, 13, 11, 13, 11,  9,  9,
        0, 11, 10,  6,  5, 12,  9, 12, 12, 10,  8, 12, 14,  3, 11,  9,  2,
        6,  5, 10,  6,  5,  3,  7, 14,  9,  9,  5,  5,  5,  4,  3, 10,  2,
        4,  9,  9,  3,  6, 14,  2,  6,  5, 10, 13,  2, 12, 12,  0, 10,  3,
        2, 13,  8, 14, 12,  2, 13,  8,  4,  8,  0,  0, 12,  8, 10, 14, 14,
        3,  0,  8, 11,  2,  5,  1, 12,  1, 10,  9,  7,  0, 13,  7,  3,  6,
        6,  4,  3, 10, 14,  8, 10,  4, 11, 14,  1,  3,  7,  7,  3,  5, 13,
       14,  7,  2,  0,  6, 12, 13, 12,  7,  1,  3,  9, 12,  1, 11,  4,  1,
        5,  2,  8, 14,  6,  6, 14, 14,  1,  0,  7,  8,  8,  3,  4, 14,  6,
        6, 11,  5, 11,  7,  8,  9, 10,  5,  3, 11,  6, 11, 14,  5,  6,  6,
        5,  7,  2,  6, 10, 11,  1,  5,  9,  4, 14, 13,  1,  2,  7, 13,  6,
       10,  1,  8,  2,  4,  9, 14,  3, 11,  3, 13,  4, 13, 12, 11, 10, 13,
        6, 13, 12,  8, 12, 11, 12,  1,  8,  3, 13,  9, 14,  1,  2, 11, 12,
        0, 10,  1, 10,  0,  9,  8, 10, 11, 10,  7,  5,  6, 12, 10, 11,  7,
        8,  7,  3,  8,  6, 12,  0, 13,  9,  3,  6, 12,  6, 11, 12, 11, 10,
        9,  9,  6,  4,  8, 13,  1,  8,  9, 11,  5, 12, 11,  7,  0,  0,  8,
        9, 14,  4,  9, 13,  5,  0,  9, 13,  2,  8, 12,  0, 12,  8,  6, 12,
        1,  0,  6,  6, 10, 14,  0,  7,  0,  1,  0, 11,  8,  0,  8,  6,  1,
       13,  4,  1,  5,  1,  8,  5,  1, 10, 14,  7, 11, 14,  2,  7,  1,  1,
        6,  8, 11, 12,  2, 14,  5,  1,  2, 11, 14, 14,  1,  5,  2,  2,  1,
       12,  8,  9,  0,  7,  4,  1, 13,  9, 10,  2,  6, 11, 13, 14,  8, 10,
        1,  3, 11,  8,  1,  2,  1, 13,  7,  0,  7,  7,  1,  4,  2,  3,  0,
        6, 12, 13,  0, 14, 12, 10,  5,  3,  9,  6,  1,  4,  9,  4,  1, 10,
        6,  0, 13, 12,  5,  0, 11, 13,  2,  3,  7,  6,  1,  4,  8, 13, 11,
        5, 13,  1, 14, 13,  1, 14,  4, 14,  0, 12,  3, 11, 13,  9, 13,  4,
       11, 14, 13, 14,  6,  7,  5,  7, 14,  9,  2,  2, 11, 13,  4, 12,  4,
        2, 12,  5,  8,  3,  1, 11, 14,  5,  9,  8,  9, 11, 14,  7,  3, 10,
        2,  1, 10, 12, 11,  6,  8,  7,  1, 12, 14, 11,  4,  7, 12,  1,  2,
       12,  6,  4,  8,  6, 12,  1, 13, 10,  9,  3,  5,  4,  4,  7, 10,  9,
        0, 13,  9, 14,  6,  8, 13,  3,  4,  2,  5, 13, 12, 12,  6, 10,  3,
       10,  5, 13,  3,  1,  5,  6,  5,  7, 11, 13, 13, 14, 11,  1, 10, 11,
        0, 10,  5,  4,  2,  3, 10,  6,  4, 13,  3, 14,  7,  1, 11,  4,  7,
        6,  5,  4,  3, 10,  5, 14, 13,  7,  5,  5, 14,  3,  4, 14,  5,  7,
        0,  5, 13,  8,  8,  7,  2,  9, 11,  4,  0, 10,  0, 13, 14, 11,  6,
        0, 12, 11,  4, 11,  6, 11,  1, 14,  4,  2, 10,  8,  9, 10,  1,  6,
        0,  4,  5,  8, 10,  3,  9,  3,  8, 11,  0,  4, 10, 11,  4, 11,  6,
        9,  8,  8, 14, 12, 14, 14, 10,  2,  9,  8,  3,  2,  9, 14,  3,  5,
        2,  3, 10, 10,  1, 13,  7, 12,  7, 13, 11,  9, 14, 13,  8, 14, 10,
        7,  9,  6,  8, 11, 11, 10,  6, 13,  4,  8, 11, 12, 10,  7, 12, 14,
        7, 14,  7,  5,  9,  5,  4,  5, 14,  9,  7,  2, 14,  7, 12, 14, 10,
        4,  8,  6,  3,  5,  7,  9, 11,  9, 13,  5,  7,  7,  8,  3,  8,  9,
       12,  3,  4, 11, 14, 10,  7,  8, 10,  7,  1, 11,  2,  6,  8, 10,  0,
       12,  2,  9, 14,  4,  9, 14, 11, 11, 12,  1, 11, 10,  3, 14,  4, 12,
        1,  8, 12,  0, 14, 14,  5, 10,  8,  6,  1,  4,  7, 12, 10,  1, 14,
        0,  2,  0, 14,  7,  8,  1,  6,  0,  4, 13, 13,  0, 11,  7,  6,  4,
       13,  3, 14, 13,  1,  8,  1,  5,  2,  0,  5, 14,  7, 10,  0,  8, 13,
        2,  6, 14,  0,  0, 12, 10,  7,  6,  0,  8,  0,  1, 12,  9,  6, 13,
       13,  0, 13, 11,  1,  2,  6,  1, 13, 12, 13,  2,  9,  1])

In [ ]:
prueba2 = np.arange(50)
np.random.shuffle(prueba2)
prueba2

array([ 1,  5, 26,  2, 24, 22,  0, 49, 41, 44, 27, 47, 19, 13, 33, 11,  6,
        8, 42, 43, 36,  3, 30, 23, 38, 34, 15, 37, 39, 28,  7, 17, 31,  4,
       46, 10, 25, 18, 21, 48, 20, 14, 40, 16, 35, 32, 29, 12, 45,  9])

a. Find the most frequent value in the prueba1 array?

In [ ]:
import numpy as np
from scipy import stats
moda, contar = stats.mode(prueba1)
print(f"El valor más frecuente es {moda} y aparece {contar} veces.")
# Most frequent value

El valor más frecuente es 13 y aparece 78 veces.

b. Convert the 1D array prueba2 to a 2D array with 5 rows

In [ ]:
import numpy as np
prueba2_2d = prueba2.reshape(5, -1)
print(prueba2_2d)
# Reshape

[[ 1  5 26  2 24 22  0 49 41 44]
 [27 47 19 13 33 11  6  8 42 43]
 [36  3 30 23 38 34 15 37 39 28]
 [ 7 17 31  4 46 10 25 18 21 48]
 [20 14 40 16 35 32 29 12 45  9]]

# 6. Pandas

Utilice la base de datos `nyc_taxis.csv`

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calcule:
1. El promedio de la distancia de viaje (`trip_distance`) para cada mes (`pickup_month`)
2. Cantidad de viajes desde JFK por día del mes